body{
    background-color: #495057;
}
/* .container{
    background-color: black;
    box-sizing: content-box;
} */
.card{
    background-color: #343a40;
    padding: 10px;
    /* align-items: center; */
    margin-bottom: 20px;
}
.putih{
    color: #fff;
}
.center{
    align-items: center;
}
.pad{
    padding: 10px;
}